<div class="card shadow">
    <img src="img/{{imagen}}" alt="telefono">
    <h3><span class="green">{{nombre}}</span></h3>
    <p>Modelo: <span class="green">{{modelo}}</span></p>
    <p>Guardado: <span class="green">{{almacenado}}</span></p>
    <p>SIMs: <span class="green">{{sims}}</span></p>

</div>